<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> RIP </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>C++, Hardware Integration, Microcontroller-computer interaction.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> More Stuff </h3>
    <ul>
      <li> Visit my GitHub </li>
    </ul>
    <p>I have more work on GitHub and GitLab that's publicly accessible.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
